/*
Colors used:
Dark grey: #38383C
Black: #000000
Beige: #BDB7AE
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.0;
  color: #000000;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1.0;
  color: #000000;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.0;
  color: #000000;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  line-height: 1.0;
  color: #000000;
}

img {
  width: 100%;
}

/*HOMEPAGE*/
.logo {
  max-width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}


[class*="col-"] {
  float: left;
}

.header {
  background-color: #ff7689
  padding: 15px 4px;
  margin: 0;
  position: fixed;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #0B1F53;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  display: inline-block;
  padding: 5px 20px;
  color: #BDB7AE;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.1em;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

a {
  color: #BDB7AE;
  text-decoration: underline;
}

a:visited {
  color: #BDB7AE;
}

a:hover,
a:focus {
  color: #303634;
  text-decoration: none;
}

a:active {
  color: ##BDB7AE;
  text-decoration: none;
}

nav>ul>li>a:hover {
  transition: 0.3s;
  background-color: #e8e8e8;
}

.hero {
  text-align: center;
  font: 'Poppins';
  border: solid;
  border-width: 8px;
  padding: 10px 20px;
  margin-top: 30px;
}

.button.contact {
  background-color: #38383C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  border-style: solid;
  transition: 0.2s opacity;
  margin-bottom: 20px;
}

.button.contact:hover {
opacity: 0.8;
}

.button.Allure {
  background-color: #38383C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  border-style: solid;
  transition: 0.2s opacity;
  margin-bottom: 20px;
}

.button.SimplySweet:hover {
  opacity: 0.8;
}

.button.SimplySweet {
  background-color: #38383C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  border-style: solid;
  transition: 0.2s opacity;
  margin-bottom: 20px;
}

.button.Allure:hover {
opacity: 0.8;
}

.button.resume {
  background-color: #38383C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  border-style: solid;
  transition: 0.2s opacity;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.3em;
}

.button.resume:hover {
opacity: 0.8;
}

.myskills {
  text-align: left;
  font: 'Poppins';
  padding: 40px;
  width: auto;
  height: 425px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.footer p h1 {
  margin-bottom: 20px 10px;
}

#footer {
  padding: 10px 0;
  background-color: #f7f8fa;
  margin: 0 auto;
  width: auto;
}

/*PADDING/MARGINS*/
.container {
  padding: 0 25px;
  width: auto;
}

.row {
  margin: 30px 0;
}

.row2 .col-6 {
  margin: 0 auto;
  float: none;
}

#work .col-6 {
  margin-bottom: 3em;
}

.leftp50 {
  padding-left: 50px;
  padding-top: 0px;
}

.leftp100 {
  padding-left: 100px;
}

.leftp200 {
  padding-left: 200px;
}

.rightp50 {
  padding-right: 50px;
  padding-top: 0px;
}

.rightp100 {
  padding-right: 100px;
}

.rightp200 {
  padding-right: 200px;
}

.topp200 {
  padding-top: 200px;
}

.topp150 {
  padding-top: 150px;
}

.topp100 {
  padding-top: 100px;
}

.topp50 {
  padding-top: 50px;
}

.bottomp50 {
  padding-top: 50px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

#aboutme {
  padding-top: 10px;
  display: none;
}

.about-list {
  padding: 0;
  list-style-position: inside;
}

.center {
  text-align: center;
}

.center picture img {
  padding: 70px;
}

.white {
  background-color: #fffff;
  padding: 30px 0;
}

.grey {
  background-color: #f7f8fa;
  padding: 30px 0;
}

.textmargin {
  margin-left: 50px;
  margin-right: 50px;
}

#work .col-6 {
  margin-bottom: 3em;
}

main {
  padding-top: 100px;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ================================
Medium devices (640px and larger)
=================================== */

@media only screen and (min-width: 640px) {

    .header {
      text-align: left;
      padding: 28px 55px;
    }

    .navtoggle li:not(:last-child) {
      display: inline-block;
    }

    .navtoggle li:last-child {
      display: none;
    }

    .navtoggle.responsive nav {
      padding: 0;
    }

    nav>ul>li {
      display: inline-block;
    }

    .logo {
      min-width: 300px;
    }

    .navtoggle .logo {
      padding-top: 10px;
    }

    nav {
      width: auto;
      float: right;
      margin-top: 5px;
    }

    main {
      padding-top: 72px;
    }

    .container {
      max-width: 1000px;
      margin: 0 auto;
    }

  header .container::after {
    content: "";
    clear: both;
    display: table;
  }

    [class*="col-"] {
      padding: 15px 38px;
      float: left;
    }

    .navtoggle.responsive li {
      padding: 0 !important;
      border-top: none !important;
    }

    .navtoggle.responsive nav {
      padding: 0;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    #aboutme h3 {
      margin-top: 0;
    }

    #aboutme .col-6 {
      padding-left: 0;
    }

    #hero {
      padding: 140px 0;
    }

    #work h2 {
      margin-left: 40px;
    }

    .relevant-skills {
      padding-left: 0;
    }

    .about .bullets {
      padding: 15px 3px;
    }
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  #work {
    padding-top: 60px;
  }

  @media only screen and (min-width: 1024px) {
    .col-6 {
      width: 50%;
    }

    .intro p {
      margin: 7em auto;
      max-width: 750px;
    }

    .row-max-width {
      width: 100%;
      max-width: 750px;
      margin: 0 auto;
    }
  }

  /* ==============================
X-large devices (1440px or larger)
================================= */
